<!-- <h1 [style.color]="color" [style.BackgroundColor]="bgcolor">hello world</h1>
<button (click)="updatecolor()"> update </button> -->
<!-- <app-header></app-header> -->

<!-- <button (click)="func('Kartik')"><h1>click me</h1></button>
<br><br>
<input type="text" #box (keyup)="func(box.value)" placeholder="event keyup">
<br><br>
<input type="text" #box1 (keydown)="func(box1.value)" placeholder="event keydown">
<br><br>
<input type="text" #box2 (blur)="func(box2.value)" placeholder="event blur">
<br><br>
<input type="text" #box3 (input)="func(box3.value)" placeholder="event input">
<br><br>
<h1 (mouseover)="func('over')">hello</h1>
<br><br>
<h1 (mouseleave)="func('leave')">world</h1> -->

<!-- <input type="text" #box placeholder="Enter your name" name="name">
<button (click)="func(box.value)">click</button>
<p>
  Hi {{dispval}} ! how are u😎
</p> -->
<!-- 
<button (click)="decr()">--</button>
<p>count value : {{dispval}}</p>
<button (click)="incr()">++</button> -->

<!-- <button (click)="count('minus')">--</button>
<p>count value : {{num}}</p>
<button (click)="count('add')">++</button> -->


<!-- <input type="text" name="user-name" value="{{name}}" disabled="{{dis}}">
<br><br>
<input type="text" name="user-name" [value]=name [disabled]=dis>
<br><br>
<button (click)="bin('true')">true</button>
<button (click)="bin('false')">false</button> -->

<!-- <h1 *ngIf="show; then ifblk else elseblk"></h1>
<ng-template #ifblk>
  if condition
</ng-template>
<ng-template #elseblk>
  else condition
</ng-template>
<br><br>
<button (click)="func()">true/false</button>
<button (click)="func('false')">false</button> -->

<!-- <ng-template [ngIf]="color==='red'">
  <h1 style="color: red;">Red colour</h1>
</ng-template>
<ng-template [ngIf]="color==='green'">
  <h1 style="color: green;">Green colour</h1>
</ng-template>
<ng-template [ngIf]="color==='blue'">
  <h1 style="color: blue;">Blue colour</h1>
</ng-template> -->

<!-- <div [ngSwitch]="color">
  <h1 *ngSwitchCase="'red'" style="color: red;">Red color</h1>
  <h1 *ngSwitchCase="'blue'" style="color: blue;">Blue color</h1>
  <h1 *ngSwitchCase="'green'" style="color: green;">Green color</h1>
  <h1 *ngSwitchDefault>Unknown color</h1>
</div> -->

<!-- <div *ngFor="let item of users">
  name : {{item.name}}
  <br>
  email : {{item.email}}
  <br>
  phone : {{item.phone}}
  <br>
  social :
  <div *ngFor="let acc of item.social">
    <div>
     &nbsp;&nbsp;&nbsp;{{acc}}
    </div>
  </div>
  <br><br>
</div> -->


<!-- <div *ngFor="let item of users">email : {{item.email}}</div>
<div *ngFor="let item of users">phone : {{item.phone}}</div> -->

<!-- <h1>Basic Form</h1> -->

<!-- <form #BasicForm="ngForm" (ngSubmit)="getdata(BasicForm.value)">
  <input type="text" ngModel name="User" placeholder="Enter the username"/><br><br>
  <input type="email" ngModel name="User_email" placeholder="Enter the user email"/><br><br>
  <input type="password" ngModel name="User_pass" placeholder="Enter the password"/><br><br>
  <button>submit</button>
</form>

<h4>{{userdata.User}}</h4>
<h4>{{userdata.User_email}}</h4>
<h4>{{userdata.User_pass}}</h4> -->

<!-- <h1>toggle element</h1>
<button (click)="turn()">toggle</button>
<h3 *ngIf="display" >heading tag</h3>

<p>
	<ngb-alert [dismissible]="false">
		<strong>Warning!</strong> Better check yourself, you're not looking too good.
	</ngb-alert>
</p>

<div ngbAccordion>
	<div ngbAccordionItem [collapsed]="false">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Simple</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
					officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
					moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
					keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
					butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
					haven't heard of them accusamus labore sustainable VHS.
				</ng-template>
			</div>
		</div>
	</div>
	<div ngbAccordionItem>
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>
				<span>&#9733; <b>Fancy</b> title &#9733;</span>
			</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
					officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
					moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
					keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
					butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
					haven't heard of them accusamus labore sustainable VHS.
				</ng-template>
			</div>
		</div>
	</div>
	<div ngbAccordionItem [disabled]="false">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>Disabled</button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
					officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
					moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
					keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
					butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
					haven't heard of them accusamus labore sustainable VHS.
				</ng-template>
			</div>
		</div>
	</div>
</div>

<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<div class="example-label">Raised</div>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
</div>

<div class="demo-section">
  Button with a badge on the left
  <button mat-raised-button color="primary"
      matBadge="8" matBadgePosition="before" matBadgeColor="accent">
    Action
  </button>
</div> -->

<!-- <h1>List</h1>
<input type="text" placeholder="Enter the task" #task/>
<br><br>
<button (click)="add_task(task.value)">Add Task</button>
<br><br>
<div *ngFor="let i of list">
    {{i.name}}
    <button (click)="remove(i.id)">Remove</button>
    <br><br>
</div> -->

<!-- <h1>child comp</h1>
<app-child [item1]="data1" [item2]="data2"></app-child>
<button (click)="updatechild()">
  Update 
</button>
<div *ngIf="str">you won</div> -->

<!-- <h1>child to parent</h1>
<app-child (updatedataevent)="updatedata($event)"></app-child>
<h2>{{data}}</h2> -->

<!-- <h1>2 way binding</h1>
<input type="text" [(ngModel)]="name">
<h2>{{name | uppercase}}</h2>
<h2>{{name | lowercase}}</h2>
<h2>{{name}}</h2>

<br><br><br>

<input type="text" name='box2'>
<h2 onformchange="update(box2.value)">{{item}}</h2> -->



<!-- </html> -->

	<!-- <h1> hello world</h1>
<h2 appRedEl>nice</h2>
<h3>coding</h3> -->




<!-- 
<body>
	 <div class="nav"> 
	 <div class="logo">
					<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fclipart-library.com%2Ffree%2Fsuperman-logo-transparent-background.html&psig=AOvVaw2s5bho4yO2PdHshmXk10fM&ust=1694001221919000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCKjOyrq0k4EDFQAAAAAdAAAAABBV"
						alt="image"> 

	<div class="bg-img"> -->

	<!-- </div> -->
	<!-- </div>

	<div class="container">
		<div class="topnav">
			<a routerLink="Home">Home</a>
			<a routerLink="News">News</a>
			<a routerLink="Contact">Contact</a>
			<a routerLink="About">About</a>
			<a routerLink="Login">Login</a>
		</div>
	</div>
	<form class="search">
		<input class="form-control mr-sm-2" type="search" placeholder="Search">
		<button class="btn my-2 my-sm-0" type="submit">Search</button>
	</form>


	<div class="form">

		<form [formGroup]="loginForm" (ngSubmit)="loginuser()">
			<mat-form-field>
				<mat-label>Enter your Name</mat-label>
				<input matInput type="text" placeholder="Enter your name" name="name" formControlName="name">
			</mat-form-field>
			<br>
			<span style="color: red;" *ngIf="name && name.invalid && name.touched">This field is not
				valid</span>
			<br><br>
			<mat-form-field>
				<mat-label>Enter your Contact</mat-label>
				<input matInput type="text" placeholder="Enter your contact" formControlName="contact">
			</mat-form-field>
			<br>
			<span style="color: red;" *ngIf="contact && contact.invalid && contact.touched">This field is not
				valid</span>
			<br><br>
			<mat-form-field>
				<mat-label>Enter your Username</mat-label>
				<input matInput type="text" placeholder="Enter username" name="username" formControlName="username">
			</mat-form-field>
			<br>
			<span style="color: red;" *ngIf="username && username.invalid && username.touched">This field is not
				valid</span>
			<br><br>
			<mat-form-field>
				<mat-label>Enter your password</mat-label>
				<input matInput [type]="hide ? 'password' : 'text'" type="password" placeholder="Enter password"
					name="password" formControlName="password">
				<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
					[attr.aria-pressed]="hide">
					<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
				</button>
			</mat-form-field>
			<br>
			<span style="color: red;" *ngIf="password && password.invalid && password.touched">This field is not
				valid</span>
			<br><br>
			<button [disabled]="loginForm.invalid" mat-raised-button color="accent"
				[hidden]="loginForm.invalid">Register</button>
		</form>
	</div>
</body> -->




<div>
	<ul>
		<li *ngFor="let i of weather">
			{{i.title}}
		</li>
	</ul>
</div>

